<!DOCTYPE html>
<html>
  <head>
    <title>Yelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/40912a79ab.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.signupIllustration = "<%= image_url('signup_illustration.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
