<!DOCTYPE html>
<html>
  <head>
    <title>Yelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
      window.signupIllustration = "<%= image_url('signup_illustration.png') %>";
      window.footerCityscape = "<%= image_url('footer_cityscape.png') %>";
      window.bizDisplay = "<%= image_url('biz-display-img-1.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
